<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>WE6.0 WPD A3 Owen Taaffe</title>
	
	<!-- main bootstrap css -->
	<link rel="stylesheet" href="../../content/css/bootstrap.css">
	<!-- app css-->
	<link rel="stylesheet" href="../../content/css/myStyle.css">
	
	
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body id="profile_body">
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	  <a class="navbar-brand" href="#"> <img id="Elder_logo" src="../../images/elder_tree.jpg" alt="Elder Tree"> Elder</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item">
			<a class="nav-link" href="../../index.html"><h3>Home</h3></a>
		  </li>
		  <li class="nav-item active">
			<a class="nav-link" href="../profile/index.html"><h3>Profile</h3> <span class="sr-only">(current)</span></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="../chat/index.html"><h3>Chat</h3></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="../memory/index.html"><h3>Memory Box</h3></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="index.html"><h3>Games</h3></a>
		  </li>
		</ul>
	  </div>
	</nav>
	
	<div class="main">
	    <div class="container-fluid">
			<!-- user profile image & personnel details -->
			<div class="row" id="profilediv">
				<div class="col-12 col-sm-4 col-md-12">
					<img src="../../images/profile_pic.jpg" id="edit_profile_pic" alt="profile picture">
					<h4><a onclick="myFunction()" href="index.html" id="profileImgHref">Change Profile image</a></h4>
				</div>
				<div class="col-12 col-sm-8 col-md-12" id="profile_info_div">
				  <form>
					<div class="form-group row">
					  <label for="name" class="col-sm-2 col-form-label" id="profile_name_label"><strong>Name:</strong></label>
					  <div class="col-sm-8">
						<input type="text" class="form-control" id="profile_name" value="Full Name">
					  </div>
					</div>
					<div class="form-group row">
					  <label for="phone" class="col-sm-2 col-form-label" id="profile_number_label" ><strong>Number: </strong></label>
					  <div class="col-sm-8">
						<input type="text" class="form-control" id="profile_number" value="Phone Number">
					  </div>
					</div>
					<div class="form-group row">
					  <label for="inputEmail3" class="col-sm-2 col-form-label" id="profile_email_label"><strong>Email: </strong></label>
					  <div class="col-sm-8">
						<input type="email" class="form-control" id="profile_email" value="Email">
					  </div>
					</div>
				  </form>
				  
				<!-- Edit button is not coded to edit contact yet -->
				<a class="btn btn-success btn-lg" onclick="myFunction()" href="index.html"><strong>Edit</strong></a>
				<a class="btn btn-primary btn-lg" href="index.html"><strong>Cancel</strong></a>
				</div>
			</div>
		</div>
	
	
		<div class="footer">
			<div class="col-xs-12 home_button_div">
				<a class="btn" href="../../index.html" id="homeButton">
					<h1><strong><i class="fa fa-home"></i> Home</strong></h1>
				</a>
			</div>
		</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
	<script>
	  function myFunction() {
		alert("This function is not fully operational at the moment");
	  }
	</script>
  
    <script src="../../content/js/myJavascript.js"></script>
</body>
</html>